.page__body {
    width: 100%;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;

    padding-top: 46px;
    padding-bottom: 15px;

    background: url("../images/page-background.png") center/cover no-repeat;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.body__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 22px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.hover-orange:hover {
    color: #F26522;
}

.header-logo:hover .logo-img {
    content: url("../images/header-logo-2.png");
}

.logo-img {
    margin-right: 8px;
}

.big-letters {
    text-transform: uppercase;
    font-size: 29px;
}

.header-contacts > a {
    display: block;
    text-align: right;
}

.email {
    margin-bottom: 19px;
}

.body__main {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;

    column-gap: 61px;
    row-gap: 37px;

    margin-bottom: 49px;
}

.pop-up-container {
    position: relative;
    height: 220px;
    overflow: hidden;
}

.activity-img {
    display: block;
    object-fit: cover;
    border: 2px solid transparent;
    width: 100%;
    border-image: linear-gradient(#000000, #FFFFFF) 1;
}

.activity-title {
    text-align: center;
    margin-top: 20px;
}

.activity-description {
    position: absolute;

    width: 100%;
    bottom: -63px;

    display: grid;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;

    background-color: #F26522;
    padding: 7px 14px 12px 16px;

    transition-duration: 0.5s;
}

.activity:hover .activity-description {
    bottom: 0;
}

.activity:hover .activity-title {
    color: #F26522;
}

.price-from {
    grid-column: 1 / -1;
    font-size: 10px;
    margin-bottom: 8px;
}

.price {
    font-size: 20px;
}

.activity-details {
    font-size: 14px;
    justify-self: end;
}

.activity-details::after {
    content: url("../images/details-sign.png");

    margin-left: 16px;
}

.body_footer {
    text-align: center;
}




